.home {
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
}
.home_img {
  img {
    width: 520px;
    height: 350px;
    border-radius: 25px;
  }
}
.cont {
  h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  h6 {
    font-size: 16px;
    color: rgb(95, 91, 91);
    font-weight: 600;
    margin-top: 30px;
  }
  button {
    width: 125px;
    height: 38px;
    margin-top: 40px;
  }
}
